@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	.packets
		max-width 1100px
	.packet
		max-width 450px
	.packet:before
		background-image: linear-gradient(175deg,transparent 50%,rgba(255,255,255,0.8) 50%)
	.packet:after
		background-image linear-gradient(-5deg,transparent 50%,rgba(255,255,255,0.8) 50%)
	.modal-dialog
		width 900px
@media screen and (max-width 1199px)
	.about-title
		font-size: 45px
	#plan
		background-position: top right -50%,bottom -20% left -30%
	#before-after
		background-position: center right -50%
@media screen and (max-width 991px)
	header
		padding 10px 0
	#logo
		width: 100px;
		height: 42px;
		background-position: center
		display block
		float: none
		margin 0 auto 5px
	.contacts
		float: none
		text-align: center
		line-height: 16px;
	.contact
		margin 5px 5px 0
		display: inline-block
		line-height: 16px
	.about-title
		border-right: 0
		border-bottom: 3px solid #d8b976
	#plan
		background-position: top right -50%,bottom -20% left -55%
	#before-after
		background-position: center right -550%
	#author
		background-position: top -10% right -50%
	.carousel-control
		top auto
		bottom: -10px
@media screen and (max-width 767px)
	#main
	#about
	#plan
	#prices
	#benefit
	#before-after
	#author
	#records
		padding 40px 0
	.about-title
		padding 0 0 10px
		br
			display: none
	#plan
		background-position:  top -50% right -200%,bottom -120% left -180%
	#before-after
		background-image: none
	.packet-body
		min-height 1px
	.packet
		margin-bottom: 70px
	.prepayment
		margin-top: 20px
	#benefit
		background-position: top right
	.author-img
		margin-bottom: 30px
	.record-text
		width 100%
		max-width 650px
		margin 10px auto 0
@media screen and (max-width 485px)
	header
		padding 10px 0
		margin-bottom: 0
	.contact
		line-height: 14px
		font-size: 12px
		padding-left: 17px
		background-size: 14px
	.main-title
		font-size: 38px
		margin 15px 0 20px
	.main-info span
		font-size: 22px
	.about-title
		font-size: 32px
	.general-title
		font-size: 30px
		margin-bottom: 30px
	.general-title-about
		margin-top: 40px
	.lesson-title
		font-size: 28px
		line-height: 1.3
	.lesson
		margin-bottom: 30px
	.prepayment-title
	.timer-title
		font-size: 28px
	.flip-clock-wrapper
		width 100%
		max-width 260px
		margin-top: 30px
	.flip-clock-wrapper ul
		height 50px
		margin 3px
	.flip-clock-wrapper ul li
		line-height: 50px
	.flip-clock-wrapper ul li a div.up::after
		top 24px
	.flip-clock-wrapper ul li a div div.inn
		font-size: 40px
	.flip-clock-divider
		height 50px
	.flip-clock-dot
		width 7px
		height 7px
		left 3px
	.flip-clock-dot.top
		top 31px
	.flip-clock-dot.bottom
		bottom: 27px
	.flip-clock-divider .flip-clock-label
	.flip-clock-divider.minutes .flip-clock-label
	.flip-clock-divider.seconds .flip-clock-label
		font-size:  10px
		right: -59px
	.alert-danger
		padding: 10px
		font-size: 22px
		margin-top: 20px
	#prices
		background-position: bottom -20% left, top -100px right
	#before-after
		padding 40px 0 10px
	.carousel-inner > .item > a > .revs-img
		height 150px
	.button-records-sale
		margin-top: 30px
	footer
		padding 15px 0
		font-size: 12px
		h5
			font-size: 18px
			line-height: 1.1
	.soc-buttons a
		margin 10px 5px
	.records-text
		font-size: 20px
@media screen and (max-width 385px)
	#main
	#about
	#plan
	#prices
	#benefit
	#before-after
	#author
	#records
		padding 30px 0
	.main-title
		font-size: 32px
	.main-info
		font-size: 18px
		span
			font-size: 20px
	.about-title
		font-size: 28px
	.general-title
		font-size: 26px
	.about-list li
		padding 60px 0 0
		&:before
			top 0
			left 0
		&:after
			font-size: 28px
			line-height: 32px
	.general-title-about
		margin-bottom: 50px
	.lesson
		margin-bottom: 20px
	.lesson-title
		font-size: 24px
		margin-bottom: 10px
	.lesson-text
		padding-left: 15px
	#plan
		background-image: none
	#prices
		background-position: bottom -20% left,top -150px right 200%
	.cost
		font-size: 22px
		span
			font-size: 28px
	.modal-title
		font-size: 22px
		line-height: 1.2
	.prepayment
		margin: 0 0 20px
	.timer-title
		font-size: 26px
		line-height: 1.2
	.ba-list li, .benefit-list li
		padding 60px 0 0
	#benefit
		padding 30px 0 0
		background-image: none
	.general-title-ba-2
		margin-top: 40px
	#before-after
		padding 30px 0 10px
	#author
		background-image: none
	.general-title-revs
		margin-top: 40px
	.carousel-inner > .item > a > .revs-img
		height 100px
	#text-revs
		mask-border: 40px
	.record-title
		margin-bottom: 15px
	.records-text
		font-size: 18px