#plan
	padding 50px 0 120px
	// background-color: #dae1de
	background-image url('../img/backs/course-plan-bg.png'),url('../img/backs/course-plan-bg-2.png')
	background-repeat no-repeat, no-repeat
	background-position: top right, bottom -80px left -150px
	// background-size: 100% 100%
.lesson
	margin-bottom: 50px
	&-title
		color #d3b56a
		font-size: 34px
		line-height: 40px
		font-family: J
		margin-bottom: 15px
	&-text
		padding-left: 26px
		border-left: 3px solid #D8B976