#before-after
	padding 50px 0
	background-image url(../img/backs/revs-bg.png)
	background-repeat no-repeat
	background-position: center right
.general-title-ba
	text-align: left
.general-title-ba-2
	margin-top: 60px