#records
	padding 50px 0
.record
	margin-bottom: 40px
	&-title
		text-align: center
		margin-bottom: 20px
		font-family: OSSB
		font-size: 20px
.video-wrapper-rec
	max-width 650px
.record-text
	margin-top: 10px
.records-text
	font-size: 22px
	text-align: center
	font-family: OSSB
.button-records-sale
	margin-top:  40px