@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	#main
		padding: 60px 0
	.video-wrapper-main
		max-width 860px
	#feedback
		padding 80px 0
		min-height calc(100vh - 997px)
	footer p
		font-size: 16px
	footer h5
		font-size: 24px
	#main.remind
		min-height: calc(100vh - 235px);
@media screen and (max-width 1199px)
	.contact
		margin-left: 12px
		padding-left: 27px
@media screen and (max-width 991px)
	header
		padding 10px 0
	#logo
		width: 100px;
		height: 42px;
		background-position: center
		display block
		float: none
		margin 0 auto 5px
	.contacts
		float: none
		text-align: center
		line-height: 16px;
	.contact
		margin 5px 5px 0
		display: inline-block
		line-height: 16px
		span
			padding-left: 5px
	#main
		padding-bottom: 40px
	#feedback
		padding 40px 0
	.remind-main-title
		margin-top: 30px
@media screen and (max-width 767px)
	#vk
		margin-bottom: 25px
@media screen and (max-width 485px)
	header
		padding 10px 0
		margin-bottom: 0
	.contact
		line-height: 14px
		font-size: 12px
		padding-left: 17px
		background-size: 14px
	#main
		padding-bottom: 30px
	#feedback
		padding 30px 0
	.pre
		margin-top: 0
		font-size: 18px
	.main-title
		font-size: 32px
		margin 10px 0 15px
	.general-title
		font-size: 26px
		margin-bottom: 20px
	footer h5
		font-size: 18px
	.soc-buttons a
		margin 5px
	footer p
		font-size: 12px
	.remind-main-subtitle
		font-size: 20px
@media screen and (max-width 380px)
	.pre
		font-size: 16px
	.main-title
		font-size: 24px
		margin 10px 0
	.general-title
		font-size: 22px
	.remind-main-subtitle
		font-size: 18px
	.remind-main-title
		font-size: 24px
		line-height: 1
		margin-bottom: 15px