section#main
	.container
		p.pre=head_description
		h1.main-title=head_title
		p.main-info Старт мастер-класса: 
			span с 22 января, в 19:00 (МСК)
		.video-wrapper.video-wrapper-main
			iframe(src="https://youtube.com/embed/?rel=0&autoplay=1&mute=1" allowfullscreen)
		include ../bonus/2.feedback.pug