-var head_url = 'https://jayadhar.mastervision.su/sri-matrika-oracle/course/';
-var head_title = '«Оракул Шри Матрика»';
-var head_description = 'Обучающий курс Ади Джайатхара';
//- -var head_img = 'img/banner.jpg';
-var styles = '../css/course.min.css';
-var fav_ico = '../favicon.ico';
-var fav_png = '../favicon.png';

mixin b(cl,href,p,target,id)
	a.button(class=cl href=href target=target id=id)=p
mixin gt(cl,h3)
	h3.general-title(class=cl)=h3
	
<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		include pug/header
		include pug/course/1.main.pug
		include pug/course/2.about.pug
		include pug/course/3.plan.pug
		include pug/course/4.prices.pug
		include pug/course/5.benefit.pug
		include pug/course/6.before-after.pug
		include pug/main/6.author.pug
		include pug/course/7.revs.pug
		include pug/course/8.records.pug
		include pug/course/9.footer.pug
		include pug/course/10.modal.pug
		include pug/course/11.scripts.pug
		//- include pug/scripts/chat
		include pug/scripts/body_bottom_scripts