{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".ls",
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          "node_modules",
          ".*",
          "bower_components",
          "prepros.config",
          "Prepros Export",
          "prepros-6.config",
          "prepros.cfg",
          "wp-admin",
          "wp-includes"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          "config.rb",
          "prepros.config",
          "prepros-6.config",
          "node_modules",
          "Prepros Export",
          ".git",
          ".idea",
          ".sass-cache",
          ".hg",
          ".svn",
          ".cache",
          ".DS_Store",
          "*.sass",
          "*.scss",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.ls",
          "*.kit",
          "*.ts",
          "/_css",
          "/_js",
          "/html",
          "/_maket",
          "README.md",
          "README.html",
          ".gitignore",
          "/css/_css",
          "/js/_js"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/jayadhar.mastervision.su/sri-matrika-oracle",
      "timeout": 20000,
      "autoUpload": false,
      "connectionType": "ftp",
      "history": [
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1577524523341.4187,
          "ctimeMs": 1577524523341.4187,
          "date": "2020-01-16T13:42:52.931Z"
        },
        {
          "file": "favicon.ico",
          "mtimeMs": 1575383798687.9875,
          "ctimeMs": 1575383817218.2964,
          "date": "2020-01-16T13:42:47.239Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1575383829377.9153,
          "ctimeMs": 1575384060475.9873,
          "date": "2020-01-16T13:42:47.665Z"
        },
        {
          "file": "fonts/JuraDemiBold.eot",
          "mtimeMs": 1575010824000,
          "ctimeMs": 1575018049245.479,
          "date": "2020-01-16T13:42:54.931Z"
        },
        {
          "file": "fonts/JuraDemiBold.svg",
          "mtimeMs": 1575010826000,
          "ctimeMs": 1575018049257.4844,
          "date": "2020-01-16T13:42:55.709Z"
        },
        {
          "file": "fonts/JuraDemiBold.ttf",
          "mtimeMs": 1575010824000,
          "ctimeMs": 1575018049293.5105,
          "date": "2020-01-16T13:42:56.339Z"
        },
        {
          "file": "fonts/JuraDemiBold.woff",
          "mtimeMs": 1575010824000,
          "ctimeMs": 1575018049311.5203,
          "date": "2020-01-16T13:42:56.912Z"
        },
        {
          "file": "fonts/JuraDemiBold.woff2",
          "mtimeMs": 1575010826000,
          "ctimeMs": 1575018049394.845,
          "date": "2020-01-16T13:42:57.401Z"
        },
        {
          "file": "fonts/OpenSans-Bold.eot",
          "mtimeMs": 1575010822000,
          "ctimeMs": 1575018074128.6646,
          "date": "2020-01-16T13:42:58.001Z"
        },
        {
          "file": "fonts/OpenSans-Bold.svg",
          "mtimeMs": 1575010822000,
          "ctimeMs": 1575018072137.5703,
          "date": "2020-01-16T13:42:59.151Z"
        },
        {
          "file": "fonts/OpenSans-Bold.ttf",
          "mtimeMs": 1575010822000,
          "ctimeMs": 1575018071119.5457,
          "date": "2020-01-16T13:42:59.869Z"
        },
        {
          "file": "fonts/OpenSans-Bold.woff",
          "mtimeMs": 1575010822000,
          "ctimeMs": 1575018070602.4858,
          "date": "2020-01-16T13:43:00.743Z"
        },
        {
          "file": "fonts/OpenSans-Bold.woff2",
          "mtimeMs": 1575010822000,
          "ctimeMs": 1575018049493.9084,
          "date": "2020-01-16T13:43:01.390Z"
        },
        {
          "file": "fonts/OpenSans-Semibold.eot",
          "mtimeMs": 1575010824000,
          "ctimeMs": 1575018049502.9133,
          "date": "2020-01-16T13:43:02.004Z"
        },
        {
          "file": "fonts/OpenSans-Semibold.svg",
          "mtimeMs": 1575010824000,
          "ctimeMs": 1575018049516.9214,
          "date": "2020-01-16T13:43:03.187Z"
        },
        {
          "file": "fonts/OpenSans-Semibold.ttf",
          "mtimeMs": 1575010824000,
          "ctimeMs": 1575018049552.9458,
          "date": "2020-01-16T13:43:03.793Z"
        },
        {
          "file": "fonts/OpenSans-Semibold.woff",
          "mtimeMs": 1575010824000,
          "ctimeMs": 1575018049563.9524,
          "date": "2020-01-16T13:43:04.740Z"
        },
        {
          "file": "fonts/OpenSans-Semibold.woff2",
          "mtimeMs": 1575010824000,
          "ctimeMs": 1575018049571.9597,
          "date": "2020-01-16T13:43:05.643Z"
        },
        {
          "file": "fonts/OpenSans.eot",
          "mtimeMs": 1575010822000,
          "ctimeMs": 1575018049580.9675,
          "date": "2020-01-16T13:43:06.160Z"
        },
        {
          "file": "fonts/OpenSans.svg",
          "mtimeMs": 1575010824000,
          "ctimeMs": 1575018049594.9736,
          "date": "2020-01-16T13:43:06.951Z"
        },
        {
          "file": "fonts/OpenSans.ttf",
          "mtimeMs": 1575010822000,
          "ctimeMs": 1575018049628.9973,
          "date": "2020-01-16T13:43:07.512Z"
        },
        {
          "file": "fonts/OpenSans.woff",
          "mtimeMs": 1575010822000,
          "ctimeMs": 1575018049640.0032,
          "date": "2020-01-16T13:43:08.014Z"
        },
        {
          "file": "fonts/OpenSans.woff2",
          "mtimeMs": 1575010824000,
          "ctimeMs": 1575018049649.0105,
          "date": "2020-01-16T13:43:08.498Z"
        },
        {
          "file": "img/logo.png",
          "mtimeMs": 1575108297249.947,
          "ctimeMs": 1575108297249.947,
          "date": "2020-01-16T13:43:14.457Z"
        },
        {
          "file": "img/backs/author-bg.png",
          "mtimeMs": 1575106568209.763,
          "ctimeMs": 1575106568209.763,
          "date": "2020-01-16T13:43:14.948Z"
        },
        {
          "file": "img/backs/get-bg.png",
          "mtimeMs": 1575105439311.105,
          "ctimeMs": 1575105439311.105,
          "date": "2020-01-16T13:43:16.890Z"
        },
        {
          "file": "img/backs/last-bg.png",
          "mtimeMs": 1575108282836.734,
          "ctimeMs": 1575108282836.734,
          "date": "2020-01-16T13:43:17.400Z"
        },
        {
          "file": "img/backs/main-bg.png",
          "mtimeMs": 1575048737004.933,
          "ctimeMs": 1575048737004.933,
          "date": "2020-01-16T13:43:18.002Z"
        },
        {
          "file": "img/backs/plan-bg.png",
          "mtimeMs": 1575104311384.9363,
          "ctimeMs": 1575105277777.123,
          "date": "2020-01-16T13:43:18.559Z"
        },
        {
          "file": "img/backs/revs-bg.png",
          "mtimeMs": 1575107245079.6733,
          "ctimeMs": 1575107245079.6733,
          "date": "2020-01-16T13:43:19.072Z"
        },
        {
          "file": "img/icons/envelope.png",
          "mtimeMs": 1575099437144.5735,
          "ctimeMs": 1575099437144.5735,
          "date": "2020-01-16T13:43:19.496Z"
        },
        {
          "file": "img/icons/mail.png",
          "mtimeMs": 1575099450728.1543,
          "ctimeMs": 1575099450743.1638,
          "date": "2020-01-16T13:43:19.923Z"
        },
        {
          "file": "img/icons/phone.png",
          "mtimeMs": 1575099460798.1772,
          "ctimeMs": 1575099460798.1772,
          "date": "2020-01-16T13:43:20.771Z"
        },
        {
          "file": "img/icons/skype.png",
          "mtimeMs": 1575099467329.2253,
          "ctimeMs": 1575099467329.2253,
          "date": "2020-01-16T13:43:21.200Z"
        },
        {
          "file": "img/images/for-img.png",
          "mtimeMs": 1575100601862.309,
          "ctimeMs": 1575100601862.309,
          "date": "2020-01-16T13:43:23.424Z"
        },
        {
          "file": "img/images/mail-border.png",
          "mtimeMs": 1575100606973.6416,
          "ctimeMs": 1575100606973.6416,
          "date": "2020-01-16T13:43:23.859Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1578471898980.8337,
          "ctimeMs": 1578471898980.8337,
          "date": "2020-01-16T13:42:48.101Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1577524546223.9077,
          "ctimeMs": 1577524546223.9077,
          "date": "2020-01-16T13:43:29.856Z"
        },
        {
          "file": "img/revs/rev-1.jpg",
          "mtimeMs": 1575043795660.678,
          "ctimeMs": 1575043795660.678,
          "date": "2020-01-16T13:43:24.320Z"
        },
        {
          "file": "img/revs/rev-2.jpg",
          "mtimeMs": 1575043799782.434,
          "ctimeMs": 1575043799782.434,
          "date": "2020-01-16T13:43:24.807Z"
        },
        {
          "file": "img/revs/rev-3.jpg",
          "mtimeMs": 1575043807328.5056,
          "ctimeMs": 1575043807328.5056,
          "date": "2020-01-16T13:43:25.283Z"
        },
        {
          "file": "img/revs/rev-4.jpg",
          "mtimeMs": 1575043814133.1482,
          "ctimeMs": 1575043814133.1482,
          "date": "2020-01-16T13:43:25.805Z"
        },
        {
          "file": "img/revs/rev-5.jpg",
          "mtimeMs": 1575043819576.131,
          "ctimeMs": 1575043819576.131,
          "date": "2020-01-16T13:43:26.297Z"
        },
        {
          "file": "img/revs/rev-6.jpg",
          "mtimeMs": 1575043826849.5342,
          "ctimeMs": 1575043826983.635,
          "date": "2020-01-16T13:43:26.813Z"
        },
        {
          "file": "img/revs/rev-7.jpg",
          "mtimeMs": 1575043832364.4292,
          "ctimeMs": 1575043832478.505,
          "date": "2020-01-16T13:43:27.538Z"
        },
        {
          "file": "img/banner.jpg",
          "mtimeMs": 1575044792333.309,
          "ctimeMs": 1575044792333.309,
          "date": "2020-01-16T13:43:12.255Z"
        },
        {
          "file": "img/backs/for-bg.png",
          "mtimeMs": 1575102827957.303,
          "ctimeMs": 1575102827957.303,
          "date": "2020-01-16T13:43:15.573Z"
        },
        {
          "file": "bonus/index.html",
          "mtimeMs": 1576845909561.7913,
          "ctimeMs": 1576845909561.7913,
          "date": "2020-01-16T13:42:49.285Z"
        },
        {
          "file": "h/index.html",
          "mtimeMs": 1578471908719.866,
          "ctimeMs": 1578471908719.866,
          "date": "2020-01-16T13:43:09.154Z"
        },
        {
          "file": "promo/index.html",
          "mtimeMs": 1576845992872.7405,
          "ctimeMs": 1576845992872.7405,
          "date": "2020-01-16T13:43:30.720Z"
        },
        {
          "file": "thanks/index.html",
          "mtimeMs": 1576846092203.5208,
          "ctimeMs": 1576846092203.5208,
          "date": "2020-01-16T13:43:31.793Z"
        },
        {
          "file": "1/index.html",
          "mtimeMs": 1577265731587.8535,
          "ctimeMs": 1577265731587.8535,
          "date": "2020-01-16T13:42:48.697Z"
        },
        {
          "file": "img/images/adi.png",
          "mtimeMs": 1575106640722.2979,
          "ctimeMs": 1575106640722.2979,
          "date": "2020-01-16T13:43:22.955Z"
        },
        {
          "file": "css/ie.min.css",
          "mtimeMs": 1575110474095.271,
          "ctimeMs": 1575110474095.271,
          "date": "2020-01-16T13:42:52.454Z"
        },
        {
          "file": "bots/index.html",
          "mtimeMs": 1576846067760.1836,
          "ctimeMs": 1576846067760.1836,
          "date": "2020-01-16T13:42:49.872Z"
        },
        {
          "file": "img/flags.png",
          "mtimeMs": 1565863818091.5166,
          "ctimeMs": 1565863818091.5166,
          "date": "2020-01-16T13:43:13.210Z"
        },
        {
          "file": "img/flags@2x.png",
          "mtimeMs": 1565863818114.5283,
          "ctimeMs": 1565863818114.5283,
          "date": "2020-01-16T13:43:14.037Z"
        },
        {
          "file": "js/thanks.min.js",
          "mtimeMs": 1575138798043.1284,
          "ctimeMs": 1575138798043.1284,
          "date": "2020-01-16T13:43:30.204Z"
        },
        {
          "file": "css/bonus.min.css",
          "mtimeMs": 1575294161731.2522,
          "ctimeMs": 1575294161731.2522,
          "date": "2020-01-16T13:42:51.170Z"
        },
        {
          "file": "css/thanks.min.css",
          "mtimeMs": 1576846189210.5786,
          "ctimeMs": 1576846189210.5786,
          "date": "2020-01-16T13:42:53.825Z"
        },
        {
          "file": "img/icons/soc-buttons.png",
          "mtimeMs": 1575124832208.9268,
          "ctimeMs": 1575124832208.9268,
          "date": "2020-01-16T13:43:21.598Z"
        },
        {
          "file": "remind/index.html",
          "mtimeMs": 1575292182475.9988,
          "ctimeMs": 1575292182475.9988,
          "date": "2020-01-16T13:43:31.295Z"
        },
        {
          "file": "img/icons/ok.png",
          "mtimeMs": 1575136380486.6216,
          "ctimeMs": 1575136380486.6216,
          "date": "2020-01-16T13:43:20.354Z"
        },
        {
          "file": "img/icons/tg.png",
          "mtimeMs": 1575136388342.6985,
          "ctimeMs": 1575136388342.6985,
          "date": "2020-01-16T13:43:22.039Z"
        },
        {
          "file": "img/icons/vk.png",
          "mtimeMs": 1575136393724.0266,
          "ctimeMs": 1575136393724.0266,
          "date": "2020-01-16T13:43:22.481Z"
        },
        {
          "file": "css/bonus-ie.min.css",
          "mtimeMs": 1575139064362.0864,
          "ctimeMs": 1575139064362.0864,
          "date": "2020-01-16T13:42:50.715Z"
        },
        {
          "file": "css/thanks-ie.min.css",
          "mtimeMs": 1575138456763.0605,
          "ctimeMs": 1575138456763.0605,
          "date": "2020-01-16T13:42:53.341Z"
        },
        {
          "file": "home-task-1/index.html",
          "mtimeMs": 1576845909883.002,
          "ctimeMs": 1576845909883.002,
          "date": "2020-01-16T13:43:09.822Z"
        },
        {
          "file": "home-task-2/index.html",
          "mtimeMs": 1576845909562.7893,
          "ctimeMs": 1576845909562.7893,
          "date": "2020-01-16T13:43:10.538Z"
        },
        {
          "file": "home-task-3/index.html",
          "mtimeMs": 1576845909876.9988,
          "ctimeMs": 1576845909876.9988,
          "date": "2020-01-16T13:43:11.111Z"
        },
        {
          "file": "home-task-4/index.html",
          "mtimeMs": 1576845910039.6526,
          "ctimeMs": 1576845910039.6526,
          "date": "2020-01-16T13:43:11.666Z"
        },
        {
          "file": "js/bonus.min.js",
          "mtimeMs": 1575138789744.108,
          "ctimeMs": 1575138789744.108,
          "date": "2020-01-16T13:43:27.934Z"
        },
        {
          "file": "js/promo.min.js",
          "mtimeMs": 1575138815846.7717,
          "ctimeMs": 1575138815846.7717,
          "date": "2020-01-16T13:43:28.856Z"
        },
        {
          "file": "img/backs/get-bg-mobile.png",
          "mtimeMs": 1575362700138.0925,
          "ctimeMs": 1575362700138.0925,
          "date": "2020-01-16T13:43:16.321Z"
        },
        {
          "file": "js/scripts-2.min.js",
          "mtimeMs": 1577265866767.3748,
          "ctimeMs": 1577265866767.3748,
          "date": "2020-01-16T13:43:29.338Z"
        },
        {
          "file": "distributive/index.php",
          "mtimeMs": 1577524670029.9824,
          "ctimeMs": 1577524670029.9824,
          "date": "2020-01-16T13:42:54.253Z"
        },
        {
          "file": "course/index.html",
          "mtimeMs": 1579247753190.7124,
          "ctimeMs": 1579247753190.7124,
          "date": "2020-01-17T07:56:43.758Z"
        },
        {
          "file": "css/course-ie.min.css",
          "mtimeMs": 1579182028341.1985,
          "ctimeMs": 1579182028341.1985,
          "date": "2020-01-16T13:42:51.565Z"
        },
        {
          "file": "css/course.min.css",
          "mtimeMs": 1579247541710.1345,
          "ctimeMs": 1579247541710.1345,
          "date": "2020-01-17T07:56:44.220Z"
        },
        {
          "file": "js/course.min.js",
          "mtimeMs": 1579247499895.6592,
          "ctimeMs": 1579247499895.6592,
          "date": "2020-01-17T07:56:44.663Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 45 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "pug": {
        "pretty": false
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": true
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "bonus.pug",
        "config": {
          "autoCompile": true,
          "compileImported": false,
          "customOutput": "bonus/index.html"
        }
      },
      {
        "file": "bots.pug",
        "config": {
          "autoCompile": true,
          "compileImported": false,
          "customOutput": "bots/index.html"
        }
      },
      {
        "file": "course.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "course\\index.html"
        }
      },
      {
        "file": "home-task-1.pug",
        "config": {
          "autoCompile": true,
          "compileImported": false,
          "customOutput": "home-task-1/index.html"
        }
      },
      {
        "file": "home-task-2.pug",
        "config": {
          "autoCompile": true,
          "compileImported": false,
          "customOutput": "home-task-2/index.html"
        }
      },
      {
        "file": "home-task-3.pug",
        "config": {
          "autoCompile": true,
          "compileImported": false,
          "customOutput": "home-task-3/index.html"
        }
      },
      {
        "file": "home-task-4.pug",
        "config": {
          "autoCompile": true,
          "compileImported": false,
          "customOutput": "home-task-4/index.html"
        }
      },
      {
        "file": "js/_js/bonus.js",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "js/bonus.min.js"
        }
      },
      {
        "file": "js/_js/course.js",
        "config": {
          "tasks": {
            "concat-js": {
              "enable": true
            }
          },
          "autoCompile": true,
          "customOutput": "js\\course.min.js"
        }
      },
      {
        "file": "js/_js/promo.js",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "js/promo.min.js"
        }
      },
      {
        "file": "js/_js/scripts-2.js",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "js/scripts-2.min.js"
        }
      },
      {
        "file": "js/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "js/scripts.min.js"
        }
      },
      {
        "file": "js/_js/thanks.js",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "js/thanks.min.js"
        }
      },
      {
        "file": "promo.pug",
        "config": {
          "autoCompile": true,
          "compileImported": false,
          "customOutput": "promo/index.html"
        }
      },
      {
        "file": "remind.pug",
        "config": {
          "autoCompile": true,
          "compileImported": false,
          "customOutput": "remind/index.html"
        }
      },
      {
        "file": "styl/course-ie.min.styl",
        "config": {
          "tasks": {
            "minify-css": {
              "enable": true
            }
          },
          "customOutput": "css\\course-ie.min.css"
        }
      },
      {
        "file": "styl/course.min.styl",
        "config": {
          "tasks": {
            "minify-css": {
              "enable": true
            }
          },
          "customOutput": "css\\course.min.css"
        }
      },
      {
        "file": "thanks.pug",
        "config": {
          "autoCompile": true,
          "compileImported": false,
          "customOutput": "thanks/index.html"
        }
      }
    ]
  }
}
