section#main
	.container
		.row
			.col-md-6.col-sm-6
				p.pre Бесплатный онлайн-мастер-класс
				h1.main-title Оракул Шри Матрика -
					span диагностика настоящего, прогнозирование, создание лучшего будущего
				p.main-info Даты проведения:
					span с 
						span.date-span 22 
						| по 
						span.date-span 24 
						| января, 19:00 (Мск)
				p.main-info Автор:
					span Ади Джайадхар
				.video-wrapper.video-wrapper-main
					iframe(src="https://youtube.com/embed/6JPlxESYT9g?autoplay=1&mute=1" allowfullscreen)