section#for
	.container
		.row
			.col-md-4.col-sm-4
				h3.for-pre-title Оракул 
					br
					| Шри Матрика
			.col-md-8.col-sm-8
				p.for-text Удивительно эффективный инструмент для диагностики настоящего, предсказания и моделирования лучшего будущего. Основан на йогическом опыте и метафизике древних святых тантриков Индии. Оракул является частью абхичары — прикладного раздела тантризма
		h3.general-title.general-title-for Этот мастер-класс необходим,
			span &nbsp;если вы:
		.row
			.col-md-4.col-sm-4
				p.for-text Испытываете страх перед неизвестностью, ожидая подвоха от жизни
				p.for-text Желаете просчитывать наперёд все возможные ситуации в своей жизни и жизни ваших близких, чтобы вовремя отвести беду
				p.for-text Почти забыли, что такое ощущать себя победителем и радоваться достижениям
				p.for-text Попали в круговорот быта и повседневности, из которого не видите выхода и возможности реализовать свои желания
			.col-md-4.col-sm-4
				.for-img
			.col-md-4.col-sm-3
				p.for-text Недовольны собой, своей жизнью и ищете дорогу к гармонии и победам
				p.for-text Испытываете нехватку практических знаний о том, как осуществить желания и обрести гармонию
				p.for-text Угнетены неприятными событиями, случившимися в прошлом
				p.for-text Не можете управлять событиями своей жизни
		+b('button-for','Участвовать в мастер-классе')