section#plan
	.container
		h3.general-title План мастер-класса:
		.day
			.row
				.col-md-3.col-sm-4
					h4.day-title День 1
					h5.day-subtitle Введение в Шри Матрику и её мандалу
				.col-md-7.col-sm-8.col-md-offset-1.col-sm-offset-0
					.day-info
						h6.day-list-title В программе:
						ul.day-list
							li Мантические системы
							li Введение в Шри Матрику
							li Мандала сфер жизни человека
		.day
			.row
				.col-md-3.col-sm-4
					h4.day-title День 2
					h5.day-subtitle Пятьдесят фонем Шри Матрики
				.col-md-7.col-sm-8.col-md-offset-1.col-sm-offset-0
					.day-info
						h6.day-list-title В программе:
						ul.day-list
							li Пятьдесят фонем санскрита и их значение
		.day
			.row
				.col-md-3.col-sm-4
					h4.day-title День 3
					h5.day-subtitle Примеры действия оракула Шри Матрика
				.col-md-7.col-sm-8.col-md-offset-1.col-sm-offset-0
					.day-info
						h6.day-list-title В программе:
						ul.day-list
							li Примеры трактовки положения фонем в секторах
							li Примеры коррекции будущего
							li Примеры раскладов фонем по мандале жизни человека
							li Медитативные техники, повышающие качество диагностики и прогнозов
		+b('button-plan','Записаться')