section#get
	.container
		h3.general-title Благодаря этому мастер-классу вы:
		.row
			.col-md-8.col-sm-8.col-md-offset-4.col-sm-offset-4
				ul.get-list
					li Обретёте удивительные познания о тантрическом инструменте диагностики и предсказания
					li Получите «ключ» и доступ к владению силой оракула
					li Сможете понимать всё, что происходит в разных сферах вашей жизни
					li Будете готовы сопротивляться любым проблемам, поджидающим вас в будущем
					li Научитесь упрощать себе жизнь, укрепляя свой дух и тело
					li Получите веру в свои силы, таланты и возможности
					li Станете успешным творцом и мастером своей жизни
					li Получите «ключ» к дальнейшему улучшению своей жизни, осуществлению мечты и могуществу великой гармонии
		+b('','Записаться')