section#author
	.container
		h3.general-title О тренере:
		.row
			.col-md-3.col-sm-4
				.author-img
			.col-md-7.col-sm-8.col-md-offset-1.col-sm-offset-0
				h5.author-name Ади Джайадхар:
				ul.author-list
					li Мастер медитативной йоги
					li Специалист по системам саморазвития и решению вопросов в экстремальных ситуациях
					li Автор программы «Технология Творческой Трансформации» и ряда других программ саморазвития
					li Автор ряда книг по системам саморазвития, их философии, символизму и метафизике
					li Ведущий огромного количества успешных курсов, семинаров и тренингов в Азии, Европе, Северной Америке и Австралии
		p.author-text Обучался у таких мастеров, как: М. А. Датт, Л. К. Датт, Притхвинатх Мохан, Притхвинатх Качру, Калисиддхананда, Рамешвар-баба, Дакшинамурти, Амритананданатха Сарасвати, Камалкар Мишра, Вишванатх П. Сингх Астана, Анил Ганеш Рам, Виджай К. Дхар, Чандрашикха, Свами Трибхуванананда, Вагиш Шастри, А. Г. Варма