section#author
	.container
		h3.general-title О тренере:
		.row
			.col-md-3.col-sm-4
				.author-img
			.col-md-7.col-sm-8.col-md-offset-1.col-sm-offset-0
				h5.author-name Ади Джайадхар:
				ul.author-list
					li Продюсер крупного тренинг-центра
					li НЛП-тренер международного уровня
					li Исследователь мест силы и парапсихологии
					li Инструктор по славянской системе «Ведасонь»
					li Ведущий авторских курсов и тренингов
					li Автор книг и ряда уникальных методик
					li Постоянный гость на ведущих телеканалах
		p.author-text Обучался у таких мастеров, как: М. А. Датт, Л. К. Датт, Притхвинатх Мохан, Притхвинатх Качру, Калисиддхананда, Рамешвар-баба, Дакшинамурти, Амритананданатха Сарасвати, Камалкар Мишра, Вишванатх П. Сингх Астана, Анил Ганеш Рам, Виджай К. Дхар, Чандрашикха, Свами Трибхуванананда, Вагиш Шастри, А. Г. Варма