section#revs
	.container
		h3.general-title Отзывы участников
		#text-revs.carousel.slide(data-ride="carousel" data-interval="false")
			.carousel-inner(role="listbox")
				.item.active
					a( href="img/revs/rev-1.jpg" data-fancybox="revs")
						img.revs-img( src="img/revs/rev-1.jpg" alt="Отзыв 1")
				.item
					a( href="img/revs/rev-2.jpg" data-fancybox="revs")
						img.revs-img( src="img/revs/rev-2.jpg" alt="Отзыв 2")
				.item
					a( href="img/revs/rev-3.jpg" data-fancybox="revs")
						img.revs-img( src="img/revs/rev-3.jpg" alt="Отзыв 3")
				.item
					a( href="img/revs/rev-4.jpg" data-fancybox="revs")
						img.revs-img( src="img/revs/rev-4.jpg" alt="Отзыв 4")
				.item
					a( href="img/revs/rev-5.jpg" data-fancybox="revs")
						img.revs-img( src="img/revs/rev-5.jpg" alt="Отзыв 5")
				.item
					a( href="img/revs/rev-6.jpg" data-fancybox="revs")
						img.revs-img( src="img/revs/rev-6.jpg" alt="Отзыв 6")
				.item
					a( href="img/revs/rev-7.jpg" data-fancybox="revs")
						img.revs-img( src="img/revs/rev-7.jpg" alt="Отзыв 7")
			ol.carousel-indicators
				li.active( data-target="#text-revs" data-slide-to="0")
				li( data-target="#text-revs" data-slide-to="1")
				li( data-target="#text-revs" data-slide-to="2")
				li( data-target="#text-revs" data-slide-to="3")
				li( data-target="#text-revs" data-slide-to="4")
				li( data-target="#text-revs" data-slide-to="5")
				li( data-target="#text-revs" data-slide-to="6")
			.controls
				a( class="left carousel-control" href="#text-revs" role="button" data-slide="prev") «
				a( class="right carousel-control" href="#text-revs" role="button" data-slide="next") »
			.clearfix
		//- #video-revs.carousel.slide(data-ride="carousel" data-interval="false")
		//- 	.carousel-inner(role="listbox")
		//- 		.item.active
		//- 			.video-wrapper.video-wrapper-revs(data-youtube="zCt7OCRsegk" data-img="img/revs/video-1.jpg")
		//- 				img.video-rev-img(src="img/revs/video-1.jpg", alt="Видео отзыв")
		//- 		.item
		//- 			.video-wrapper.video-wrapper-revs(data-youtube="lsxb3g-Tbfc" data-img="img/revs/video-2.jpg")
		//- 				img.video-rev-img(src="img/revs/video-2.jpg", alt="Видео отзыв")
		//- 		.item
		//- 			.video-wrapper.video-wrapper-revs(data-youtube="8EkK618m55E" data-img="img/revs/video-3.jpg")
		//- 				img.video-rev-img(src="img/revs/video-3.jpg", alt="Видео отзыв")
		//- 		.item
		//- 			.video-wrapper.video-wrapper-revs(data-youtube="4JTGQxbw-a4" data-img="img/revs/video-4.jpg")
		//- 				img.video-rev-img(src="img/revs/video-4.jpg", alt="Видео отзыв")
		//- 	ol.carousel-indicators.revs-indicators
		//- 		li.active( data-target="#text-revs" data-slide-to="0")
		//- 		li( data-target="#video-revs" data-slide-to="1")
		//- 		li( data-target="#video-revs" data-slide-to="2")
		//- 		li( data-target="#video-revs" data-slide-to="3")
		//- 	.controls.text-controls
		//- 		a( class="left carousel-control" href="#video-revs" role="button" data-slide="prev")
		//- 		a( class="right carousel-control" href="#video-revs" role="button" data-slide="next")