#main
	padding 50px 0 30px
	background-color: #CAD1CD
	background-image url(../img/backs/main-bg.png)
	background-repeat no-repeat
	background-position: center left
	background-size: cover
	text-align: center
.pre
	font-size: 20px
	font-family: OSSB
.main-title
	font-size: 44px
	font-family: J
	line-height: 38px
	margin 40px 0
	span
		font-size: 22px
		display block
		margin-top: 10px
.main-info
	margin-bottom: 15px
	span
		font-family: OSSB
		color #0a1938
		&.date-span
			color #af7e00
.video-wrapper-main
	max-width 330px
	box-shadow: 0 0 5px 2px rgba(#000,.3)