#for
	padding 70px 0 0
	background-image url('../img/backs/for-bg.png')
	background-repeat no-repeat
	background-position: top center
	background-size: cover
	position relative
	z-index 5
.for-pre-title
	font-size: 50px;
	font-family: J
	line-height: 1.2;
	text-align: left;
.for-text
	padding-left: 26px
	line-height: 28px
	border-left: 3px solid #D8B976
	margin-bottom: 40px
	min-height 112px
	display flex
	align-items: center
	&:last-of-type
		margin-bottom: 0
.general-title-for
	margin-top: 70px
.button-for
	margin-top: 50px
.for-img
	width 325px
	height 376px
	background-image url('../img/images/for-img.png')
	background-repeat no-repeat
	background-position: center
	background-size contain
	margin: 0 auto