#plan
	padding 105px 0
	background-image url('../img/backs/plan-bg.png')
	background-repeat no-repeat
	background-position: center
	background-size: 100% 100%
	position relative
	z-index 6
.day
	margin-bottom: 50px
	&-title
		color #d3b56a
		font-size: 50px
		line-height: 50px
		font-family: J
		margin-bottom: 15px
	&-subtitle
	&-list-title
		font-size: 18px
		font-family: OSSB
	&-info
		padding-left: 26px
		border-left: 3px solid #D8B976
	&-list
		li
			list-style: none
			padding-left: 25px
			margin-top: 10px
			position relative
			&:before
				content: ''
				display block
				width 8px
				height 8px
				border-radius: 50px
				background-color: #282016
				position: absolute
				left 0
				top 10px
