#author
	padding 110px 0 130px
	background-image: url('../img/backs/author-bg.png')
	background-repeat no-repeat
	background-position: center
	background-size: 100% 100%
	position relative
	z-index 7
	margin-top -110px
.author
	&-img
		width 234px
		height 234px
		background-image url(../img/images/adi.png)
		background-repeat no-repeat
		background-position: center
		background-size contain
	&-name
		font-family: OSSB
		margin-bottom: 22px
		font-size: 18px
	&-list
		li
			@extend .day-list li
			margin-top: 5px
	&-text
		padding-top: 30px
		border-top: 3px solid #DAB970
		margin-top: 30px