.modal.fade(tabindex="-1" role="dialog")#lessons
	.modal-dialog(role="document")
		.modal-content.mail-modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				.modal-body
					h4.modal-title Программа курса:
					ul.modal-list
						li 
							span 1 занятие. 
							| Гласные. Божественный порядок, баиндави-кала. Божественное сознание, божественное блаженство, божественная воля и божественная мудрость.
						li 
							span 2 занятие. 
							| Гласные. Божественный порядок, амрита-биджи. Четыре фазы самадхи пустоты.
						li 
							span 3 занятие. 
							| Гласные. Божественный порядок, крийа-шакти. Четыре фазы проявления божественного могущества действий.
						li 
							span 4 занятие. 
							| Гласные и согласные, Божественный порядок. Два запредельных состояния. Огонь времени. Шива и Шакти.
						li 
							span 5 занятие. 
							| Согласные, Божественный порядок. Чистые таттвы: Садашива, Ишвара, Шуддха-видйа.
						li 
							span 6 занятие. 
							| Согласные, Транзитный порядок. Майа и канчуки.
						li 
							span 7 занятие. 
							| Согласные, Нечистый порядок, пуруша, пракрити и антахкарана. Пуруша/Пракрити, буддхи, ахамкара, манас.
						li 
							span 8 занятие. 
							| Согласные, Нечистый порядок, джнянендрии. Слух, осязание, зрение, вкус и обоняние.
						li 
							span 9 занятие. 
							| Согласные. Нечистый порядок, кармендрии. Пять органов действия.
						li 
							span 10 занятие. 
							| Согласные. Нечистый порядок, танматры и махабхуты. Пять каналов восприятия и пять форм материи.
						li 
							span 11 занятие. 
							| Техники использования оракула. Примеры использования. Медитации настройки организма, медитации для интеграцию с оракулом