section#about
	.container
		.row
			.col-md-3
				h3.about-title Оракул&nbsp;
					br
					| Шри Матрика
			.col-md-9
				p.about-bq Это самая совершенная на планете Земля мантическая система диагностики, предсказаний и создания лучшего будущего, включающая инструменты для его исправления. Система подойдёт для любого человека из любой культуры, особенно для тех, кто интересуется медитацией и йогой
				p.about-bq Древние тантрические мастера были великолепными знатоками человеческой природы и природы Вселенной, и их мировоззрение включает всё, что происходит во Вселенной
		+gt('general-title-about','Система Шри Матрики включает три инструмента')
		ul.about-list
			li 
				span Медитативная подготовка. 
				| Когда человек пользуется системой оракулов, получить правильный результат ему часто мешают собственные эмоции. Он берёт заказ, начинает делать, но невольно подмешиваются его собственные проблемы и настроение, которые влияют на объективность результата. Поэтому мы предварительно проводим хорошую медитативную подготовку, которая позволяет настроить подкорку головного мозга, а также охладить эмоции. Это комплекс простых, но очень эффективных техник, превращающих человека в идеальное “орудие” для такой работы
			li 
				span 50 фонем Матрики. 
				| Санскритский алфавит включает 50 знаков – слогов и звуков. Все вместе они представляют нечто периодической системы Менделеева, только не про твёрдые вещества, а про всё, что только существует во Вселенной
			li 
				span 9 главных сфер. 
				| Тантрики знают, из каких сфер состоит человеческая жизнь. Можно развернуть её на 180 сфер, но за основу берутся лишь 9