section#plan
	.container
		h3.general-title Программа курса:
		.lesson
			.row
				.col-md-3.col-sm-4
					h4.lesson-title Занятие 1
				.col-md-9.col-sm-9.col-md-offset-1.col-sm-offset-1
					p.lesson-text Гласные. Божественный порядок, баиндави-кала. Божественное сознание, божественное блаженство, божественная воля и божественная мудрость
		.lesson
			.row
				.col-md-3.col-sm-4
					h4.lesson-title Занятие 2
				.col-md-9.col-sm-9.col-md-offset-1.col-sm-offset-1
					p.lesson-text Гласные. Божественный порядок, амрита-биджи. Четыре фазы самадхи пустоты
		.lesson
			.row
				.col-md-3.col-sm-4
					h4.lesson-title Занятие 3
				.col-md-9.col-sm-9.col-md-offset-1.col-sm-offset-1
					p.lesson-text Гласные. Божественный порядок, крийа-шакти. Четыре фазы проявления божественного могущества действий
		.lesson
			.row
				.col-md-3.col-sm-4
					h4.lesson-title Занятие 4
				.col-md-9.col-sm-9.col-md-offset-1.col-sm-offset-1
					p.lesson-text Гласные и согласные, Божественный порядок. Два запредельных состояния. Огонь времени. Шива и Шакти
		.lesson
			.row
				.col-md-3.col-sm-4
					h4.lesson-title Занятие 5
				.col-md-9.col-sm-9.col-md-offset-1.col-sm-offset-1
					p.lesson-text Согласные, Божественный порядок. Чистые таттвы: Садашива, Ишвара, Шуддха-видйа
		.lesson
			.row
				.col-md-3.col-sm-4
					h4.lesson-title Занятие 6
				.col-md-9.col-sm-9.col-md-offset-1.col-sm-offset-1
					p.lesson-text Согласные, Транзитный порядок. Майа и канчуки
		.lesson
			.row
				.col-md-3.col-sm-4
					h4.lesson-title Занятие 7
				.col-md-9.col-sm-9.col-md-offset-1.col-sm-offset-1
					p.lesson-text Согласные, Нечистый порядок, пуруша, пракрити и антахкарана. Пуруша/Пракрити, буддхи, ахамкара, манас
		.lesson
			.row
				.col-md-3.col-sm-4
					h4.lesson-title Занятие 8
				.col-md-9.col-sm-9.col-md-offset-1.col-sm-offset-1
					p.lesson-text Согласные, Нечистый порядок, джнянендрии. Слух, осязание, зрение, вкус и обоняние
		.lesson
			.row
				.col-md-3.col-sm-4
					h4.lesson-title Занятие 9
				.col-md-9.col-sm-9.col-md-offset-1.col-sm-offset-1
					p.lesson-text Согласные. Нечистый порядок, кармендрии. Пять органов действия
		.lesson
			.row
				.col-md-3.col-sm-4
					h4.lesson-title Занятие 10
				.col-md-9.col-sm-9.col-md-offset-1.col-sm-offset-1
					p.lesson-text Согласные. Нечистый порядок, танматры и махабхуты. Пять каналов восприятия и пять форм материи
		.lesson
			.row
				.col-md-3.col-sm-4
					h4.lesson-title Занятие 11
				.col-md-9.col-sm-9.col-md-offset-1.col-sm-offset-1
					p.lesson-text Техники использования оракула. Примеры использования. Медитации настройки организма, медитации для интеграцию с оракулом