section#benefit
	.container
		+gt('','Польза от курса')
		ul.benefit-list
			li Больше не будет непонимания настоящего, страха перед будущим в силу его неизвестности и фатальности судьбы
			li Вы научитесь понимать, что происходит в настоящем периоде жизни, чем оно вызвано, и сможете менять жизненную ситуацию в нужную вам сторону
			li Вы узнаете, что ждёт вас в будущем, а также как можно изменить своё будущее в лучшую, желанную сторону