section#before-after
	.container
		+gt('general-title-ba','До курса:')
		ul.ba-list
			li не понимаете причины того, что происходит в вашей жизни;
			li не можете решить ряд важных жизненных вопросов;
			li не знаете, какое вас ждёт будущее в разных сферах жизни
		+gt('general-title-ba general-title-ba-2','После курса:')
		ul.ba-list
			li понимаете причины событий своей жизни;
			li способны решить многие проблемные вопросы;
			li можете узнать своё будущее и грамотно вносить в него изменения