section#before-after
	.container
		.row
			.col-md-10.col-sm-10
				+gt('general-title-ba','До курса:')
				ul.ba-list
					li не понимаете причины того, что происходит в вашей жизни;
					li не можете решить ряд важных жизненных вопросов;
					li не знаете, какое вас ждёт будущее в разных сферах жизни
		.row
			.col-md-8.col-sm-8.col-md-offset-4.col-sm-offset-4
				+gt('general-title-ba general-title-ba-2','После курса:')
				ul.ba-list
					li понимаете причины событий своей жизни;
					li способны решить многие проблемные вопросы;
					li можете узнать своё будущее и грамотно вносить в него изменения