section#author
	.container
		h3.general-title О тренере:
		.row
			.col-md-3.col-sm-4
				.author-img
			.col-md-7.col-sm-8.col-md-offset-1.col-sm-offset-0
				h5.author-name Ади Джайадхар:
				ul.author-list
					li Мастер медитативной йоги
					li Специалист по системам саморазвития и решению вопросов в экстремальных ситуациях
					li Автор программы «Технология Творческой Трансформации» и ряда других программ саморазвития
					li Автор ряда книг по системам саморазвития, их философии, символизму и метафизике
					li Ведущий огромного количества успешных курсов, семинаров и тренингов в Азии, Европе, Северной Америке и Австралии
		p.author-text Обучался у таких мастеров, как: М. А. Датт, Л. К. Датт, Притхвинатх Мохан, Притхвинатх Качру, Калисиддхананда, Рамешвар-баба, Дакшинамурти, Амритананданатха Сарасвати, Камалкар Мишра, Вишванатх П. Сингх Астана, Анил Ганеш Рам, Виджай К. Дхар, Чандрашикха, Свами Трибхуванананда, Вагиш Шастри, А. Г. Варма
		h3.general-title.general-title-revs Отзывы участников
		#text-revs.carousel.slide(data-ride="carousel" data-interval="false")
			.carousel-inner(role="listbox")
				.item.active
					a( href="../img/revs/rev-1.jpg" data-fancybox="revs")
						img.revs-img( src="../img/revs/rev-1.jpg" alt="Отзыв 1")
				.item
					a( href="../img/revs/rev-2.jpg" data-fancybox="revs")
						img.revs-img( src="../img/revs/rev-2.jpg" alt="Отзыв 2")
				.item
					a( href="../img/revs/rev-3.jpg" data-fancybox="revs")
						img.revs-img( src="../img/revs/rev-3.jpg" alt="Отзыв 3")
				.item
					a( href="../img/revs/rev-4.jpg" data-fancybox="revs")
						img.revs-img( src="../img/revs/rev-4.jpg" alt="Отзыв 4")
				.item
					a( href="../img/revs/rev-5.jpg" data-fancybox="revs")
						img.revs-img( src="../img/revs/rev-5.jpg" alt="Отзыв 5")
				.item
					a( href="../img/revs/rev-6.jpg" data-fancybox="revs")
						img.revs-img( src="../img/revs/rev-6.jpg" alt="Отзыв 6")
				.item
					a( href="../img/revs/rev-7.jpg" data-fancybox="revs")
						img.revs-img( src="../img/revs/rev-7.jpg" alt="Отзыв 7")
			ol.carousel-indicators
				li.active( data-target="#text-revs" data-slide-to="0")
				li( data-target="#text-revs" data-slide-to="1")
				li( data-target="#text-revs" data-slide-to="2")
				li( data-target="#text-revs" data-slide-to="3")
				li( data-target="#text-revs" data-slide-to="4")
				li( data-target="#text-revs" data-slide-to="5")
				li( data-target="#text-revs" data-slide-to="6")
			.controls
				a( class="left carousel-control" href="#text-revs" role="button" data-slide="prev") «
				a( class="right carousel-control" href="#text-revs" role="button" data-slide="next") »
			.clearfix