.general-title
.main-title
.mail-container-title:after
.for-pre-title
.day-title
.carousel-control
.last-subtitle
.last-form-title
.modal-title
.politics_modal-content .modal-title
	font-weight: bold

.pre
.main-info span
.day-subtitle
.day-list-title
.author-name
.last-text
	font-weight: 600

.politics_modal-content .modal-title small
	font-weight: normal

.carousel-inner > .item > a > .revs-img
	height auto