.button-form
.general-title
footer h5
.switch-date
.thanks-text span
button.close
.politics_modal-content .modal-title
	font-weight: bold
.pre
.main-info span
.remind-main-subtitle
.main-subtitle-2
.thanks-text
.bots-link
	font-weight: 600
.politics_modal-content .modal-title
	font-weight: normal